@font-face {
    font-family:'customFont';
    src: url('dragonHunter.otf');
}

body {
    background-image: url('forest.jpg');
}

h1 {
    font-family: 'customFont'; 
    position: absolute;
    text-align: center;
    color: white;
    font-size: 50pt;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
}
.Thanks {
    font-family: 'customFont'; 
    position: absolute;
    text-align: center;
    color: white;
    font-size: 25pt;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;

}
.start {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-48%, -50%);
    border: 2px solid;
    border-radius: 100px;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    font-size: 3vh;
    font-family: 'customFont';
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.start:hover {
    color: black;
    background-color: #e6e6e6;
}

a{
    text-decoration: none;
    color: inherit;
}

.rules {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-48%, -50%);
    border: 2px solid;
    border-radius: 100px;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    font-size: 3vh;
    font-family: 'customFont';
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.rules:hover {
    color: black;
    background-color: #e6e6e6;
}

.controls {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-48%, -50%);
    border: 2px solid;
    border-radius: 100px;
    padding: 25px;
    color: white;
    font-size: 3vh;
    font-family: 'customFont';
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.controls:hover {
    color: black;
    background-color: #e6e6e6;
}
.play_again {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-48%, -50%);
    border: 2px solid;
    border-radius: 100px;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    color: white;
    font-size: 3vh;
    font-family: 'customFont';
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.play_again:hover {
    color: black;
    background-color: #e6e6e6;
}
.home {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-48%, -50%);
    border: 2px solid;
    border-radius: 100px;
    padding: 25px;
    color: white;
    font-size: 3vh;
    font-family: 'customFont';
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.home:hover {
    color: black;
    background-color: #e6e6e6;
}
/* rules popup */
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.popup-content {
    background-color: white;
    color: black; 
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/* control popup */
.con_popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.con_content {
    background-color: white;
    color: black; 
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.con_close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}