* {
    margin: 0;
    padding: 0;
}

#gridContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100%;
    background-color: burlywood;
}

#canvasContainer {
    grid-column: 2 / span 3;
    margin: auto;
}

#playerOne {
    grid-column: 1;
    margin: 1rem;
}

#playerOneContainer {
    width: 100%;
    height: 12.5rem;
    background-color: rgb(207, 156, 89);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#namePlayerOne {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
}

#pictureOne {
    grid-row: 1;
    grid-column: 1;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: Blue;
    border: 2px solid black;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#playerOnePromptBox {
    width: 100%;
    height: 40rem;
    display: grid;
    background-color: rgb(207, 156, 89);
    margin-top: 2rem;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr 4fr; /* Add this line to define two columns */
    border: 1px solid;
}

#nameOne {
    grid-row: 1 ;
    grid-column: 1 / span 2;
    text-indent: 1rem;
    border-bottom: 1px solid;
    margin-top: 1.3rem;
    font-size: 1.5rem;
    font-weight: 600;
}

#creatureCountOne {
    grid-row: 1 ;
    grid-column: 3 / span 1;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding-right: 0.4rem;
    color: green;
}

#promptOne {
    grid-row: 2 / span 5;
    grid-column: 1 / span 4;
    padding-left: 1rem;
    margin-top: 10px;
    font-size: 1.5rem;
    width: 50%;
}

#answerOne {
    grid-row: 7 / span 9;
    grid-column: 1 / span 4;
    margin-top: 10px;
    font-size: 1.2rem;
    border-top: 1px solid;
    font-weight: 800;
}

#playerOneAnswerBox {
    width: 100%;
    height: 10rem;
    background-color: rgb(207, 156, 89);
    border: 1px solid;
    margin-top: 1rem;
}

#playerTwo {
    grid-column: 5;
    margin: 1rem;
}

#playerTwoContainer {
    width: 100%;
    height: 12.5rem;
    background-color: rgb(207, 156, 89);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center; 
    border: 1px solid black;
}

#namePlayerTwo {
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
}

#pictureTwo {
    grid-row: 1;
    grid-column:1;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: rgb(255, 213, 0);
    border: 2px solid black;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

#playerTwoPromptBox {
    width: 100%;
    height: 40rem;
    display: grid;
    background-color: rgb(207, 156, 89);
    margin-top: 2rem;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr 4fr; /* Add this line to define two columns */
    border: 1px solid;
}

#nameTwo {
    grid-row: 1 ;
    text-indent: 1rem;
    border-bottom: 1px solid;
    grid-column: 1 / span 2;
    margin-top: 1.3rem;
    font-size: 1.5rem;
}

#creatureCountTwo {
    grid-row: 1 ;
    grid-column: 3 / span 1;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.5rem;
    padding-right: 0.4rem;
    color: green;
}

#promptTwo {
    grid-row: 2 / span 5;
    grid-column: 1 / span 4;
    margin-top: 10px;
    font-size: 1.5rem;
    padding-left: 1rem;
    width: 50%;
}

#answerTwo {
    grid-row: 7 / span 9;
    margin-top: 10px;
    font-size: 1.2rem;
    border-top: 1px solid;
    font-weight: 800;
    grid-column: 1 / span 4;
}

#playerTwoAnswerBox {
    width: 100%;
    height: 10rem;
    background-color: rgb(207, 156, 89);
    border: 1px solid;
    margin-top: 1rem;
}

#buttonContainer {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.answerButton {
    height: 4rem;
    width: 5rem;
    border: 1px solid black;
    border-radius: 25%;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: burlywood;
}

ul li {
    list-style-type: none;
    display: block;
    margin: 20px;
}

.healthBar {
    border: 1px solid black;
    background-color: white;
    margin-bottom: 10px;
    width: 20rem;
    height: 2.5rem;
    border: 1px solid;
    grid-row: 2;
    grid-column: 1 / span 3;
    margin-left: auto;
    margin-right: auto;
  }
  
  .health {
    height: 100%;
    background-color: green;
    transition: width 0.3s ease-in-out;
  }

  .currentHealth {
    font-size: 1.2rem;
    margin-top: 6px;
  }